$background: #16a085;

.link {
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    background-color: $background;
    margin: 0 10px;
    color: #FFF;

    &:hover{
        // border-radius: 10px;
        background-color: lighten($color: $background, $amount: 5%);
    }
}
